/** Used by JEST to work with decorators */

{
    "presets": ["es2015", "react"],
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": true }]
    ]
  }